<!-- entrenador.html -->
<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Perfil Entrenador</title>

    <!-- Bootstrap -->
    <link href="/Principal.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="trainer-layout">

    <!-- Sidebar -->
    <aside class="trainer-sidebar">

        <div>

            <div class="trainer-logo">
                🏋️
            </div>

            <h2 class="trainer-name">
                Entrenador Personal
            </h2>


        </div>

        <nav class="trainer-menu">

            <a th:href="@{/entrenador/home}" class="active">
                Inicio
            </a>

            <a th:href="@{/entrenador/lista}">
                Mis Clases
            </a>

            <a th:href="@{/entrenador/usuarios}">
                Mis Usuarios
            </a>

            <a href="#">
                Horarios
            </a>

            <a href="#">
                Ajustes
            </a>

        </nav>

    </aside>

    <!-- Contenido -->
    <main class="trainer-content">

        <!-- Header -->
        <div class="trainer-header">

            <div>
                <h1>
                    Perfil del Entrenador
                </h1>

                <p>
                    Gestiona tu información y actividad
                </p>
            </div>

            <div>
                <button class="btn btn-orange" style="text-decoration: none; color: white;">
                    Editar Perfil
                </button>
                <button class="btn btn-orange">
                    <a th:href="@{/entrenador/logout}" style="text-decoration: none; color: white;" onclick="return confirm('¿Seguro que quieres cerrar sesion ?');">
                        Cerrar Sesion
                    </a>
                </button>
            </div>
        </div>

        <!-- Tarjetas -->
        <div class="row g-4">

            <!-- Perfil -->
            <div class="col-lg-4">

                <div class="trainer-card ">
                    <div class="profile-card">
                        <img
                                src="https://images.unsplash.com/photo-1567013127542-490d757e51fc?q=80&w=1200&auto=format&fit=crop"
                                class="trainer-avatar"
                                alt="Entrenador"
                        >

                        <h3 th:text="${entrenador.idEntrenador() + '.'+ entrenador.nombre()}">

                        </h3>

                        <span class="trainer-badge">
                            Coach Premium
                        </span>
                    </div>

                    <div class="col-lg-4">
                        <div class="col-md-4">
                            <h2>Apellidos</h2>
                            <p th:text="${entrenador.apellidos()}" ></p>
                        </div>

                        <div class="col-md-4">
                            <h2>Email</h2>
                            <p th:text="${entrenador.email()}"></p>
                        </div>

                        <div class="col-md-4">
                            <h2>Direccion</h2>
                            <p th:text="${entrenador.direccion()}"></p>
                        </div>

                        <div class="col-md-4">
                            <h2>Teléfono</h2>
                            <p th:text="${entrenador.telefono()}"></p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </main>

</div>

</body>
</html>