<!-- clases.html -->
<!DOCTYPE html >
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Clases</title>

    <link href="/Principal.css" rel="stylesheet">

</head>
<body>

<div class="user-layout">

    <!-- SIDEBAR -->
    <aside class="user-sidebar">

        <div>
            <div class="user-avatar-small">
                👤
            </div>

            <h2 class="user-name" >
                Usuario Premium
            </h2>
        </div>

        <nav class="user-menu">
            <a th:href="@{/usuario/home}" >Inicio</a>
            <a href="#" class="active">Mis clases</a>
            <a th:href="@{/registroUsuarioBono/listaRegistroBonoPorUsuario}">Mis bonos</a>
            <a th:href="@{/usuario/comprar}" >Comprar bonos</a>
        </nav>

    </aside>
    <div class="classes-page">
        <!-- Header -->
        <div class="classes-header">

            <div>
                <h1>Mis Clases</h1>
                <p>Consulta el estado de tus clases reservadas</p>
                <p th:if="${error}" th:text="${error}" style="color:red"></p>
            </div>

            <button class="btn btn-orange">
                <a th:href="@{'/clase/listaClasesDisponibles/'+${idUsuario}}" style="text-decoration: none; color: white;" >Nueva Reserva</a>
            </button>

        </div>

        <!-- Tabla -->
        <div class="classes-card " >
            <table class="table classes-table"  style=" margin-left: auto; margin-right: auto;">

                <thead>
                <tr>
                    <td class="head">ID Clase</td>
                    <td class="head">Título Clase</td>
                    <td class="head">Fecha</td>
                    <td class="head">Hora</td>
                    <td class="head">Estado</td>
                    <td class="head">Acciones</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="registro : ${listaClases}">
                    <td th:text="${registro.idClase()}"></td>
                    <td th:text="${registro.titulo()}"></td>
                    <td th:text="${registro.fecha()}"></td>
                    <td th:text="${registro.hora()}"></td>
                    <th:block th:switch="${registro.estado()}">
                        <td th:text="${registro.estado()}" th:case="${T(com.example.gimnasio.Models.Estado).CANCELADA}" style="color: rgb(241 77 6) ;"></td>
                        <td th:text="${registro.estado()}" th:case="${T(com.example.gimnasio.Models.Estado).CONFIRMADA}" style="color: rgba(0,255,136) ;"></td>
                        <td th:text="${registro.estado()}" th:case="${T(com.example.gimnasio.Models.Estado).PENDIENTE}" style="color: rgb(239 230 8) ;"></td>
                        <td th:text="${registro.estado()}" th:case="${T(com.example.gimnasio.Models.Estado).FINALIZADO}" style="color: rgb(241 12 12 ) ;"></td>
                    </th:block>

                    <td>
                        <th:block th:if="${registro.estado().name() != 'FINALIZADO'}" >
                            <button class="btn btn-orange">
                                <a th:href="@{'/registroClase/eliminarRegistro/'+${registro.idClase()}+'/'+${idUsuario}}" style="text-decoration: none; color: white;" onclick="return confirm('¿ Seguro que quiere eliminar este registro de clase ?');">🗑️Borrar </a>
                            </button>
                        </th:block>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>



</div>

</body>
</html>