
<!-- clases.html -->
<!DOCTYPE html >
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Clases</title>

    <!-- Bootstrap -->
    <link href="/Principal.css" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/Principal.css">

</head>


<body>
<div class ="trainer-layout">
    <aside class="trainer-sidebar">

        <div>

            <div class="trainer-logo">
                🏋️
            </div>

            <h2 class="trainer-name">
                Entrenador Personal
            </h2>


        </div>

        <nav class="trainer-menu">

            <a th:href="@{/entrenador/home}">
                Inicio
            </a>

            <a th:href="@{/entrenador/lista}" class="active">
                Mis Clases
            </a>

            <a href="#">
                Rutinas
            </a>

            <a href="#">
                Horarios
            </a>

            <a href="#">
                Ajustes
            </a>

        </nav>

    </aside>
    <div class="classes-page">
        <!-- Header -->
        <div class="classes-header">

            <div>
                <h1>Mis Clases</h1>
                <p>Consulta el estado de tus clases reservadas</p>
            </div>

            <button class="btn btn-orange">
                Nueva Reserva
            </button>

        </div>

        <!-- Tabla -->
        <div class="classes-card " >

            <table th:if="${listaClases}" class="table classes-table align-middle"  style=" margin-left: auto; margin-right: auto;">

                <thead>
                <tr>
                    <td class="head">ID</td>
                    <td class="head">Título </td>
                    <td class="head">Fecha</td>
                    <td class="head">Hora</td>
                    <td class="head">Cupo</td>

                </tr>
                </thead>

                <tbody>
                    <tr th:each="c : ${listaClases}">
                        <td th:text="${c.idClase()}"></td>
                        <td th:text="${c.titulo()}"></td>
                        <td th:text="${c.fecha()}"></td>
                        <td th:text="${c.hora()}"></td>
                        <td th:text="${c.cupoMax()}"></td>
                        <td>
                            <button class="btn btn-orange">
                                <a th:href="@{/clase/detalle/{id}(id=${c.idClase})} " style="text-decoration: none; color: white;" >Ver Detalle</a>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>


</body>
</html>