<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Rutinas - Gestión de Usuarios</title>
    <link href="/Principal.css" rel="stylesheet">

    </style>
</head>
<body>

<div class="trainer-layout">

    <aside class="trainer-sidebar">
        <div>
            <div class="trainer-logo">
                🏋️
            </div>
            <h2 class="trainer-name" th:text="${entrenador.nombre()}">
                Entrenador
            </h2>
        </div>

        <nav class="trainer-menu">
            <a th:href="@{/entrenador/home}">
                Inicio
            </a>
            <a th:href="@{/clase/listaClases}">
                Mis Clases
            </a>
            <a th:href="@{/entrenador/usuarios}" class="active">
                Mis Usuarios
            </a>
        </nav>
    </aside>

    <main class="trainer-content">

        <div class="trainer-header">
            <div>
                <h1>Historial de Usuarios</h1>
                <p>Listado global de clientes registrados en el sistema del gimnasio</p>
            </div>
            <div>
                <button class="btn btn-orange">
                    <a th:href="@{/entrenador/home}" style="text-decoration: none; color: white;">Volver a Inicio</a>
                </button>
            </div>
        </div>

        <div th:if="${errorMensaje}" class="alert alert-danger" th:text="${errorMensaje}" style="color: red; margin-bottom: 20px;"></div>

        <div class="classes-card" th:if="${listaUsuarios}">
            <table class="table classes-table align-middle table-centered" style="margin-left: auto; margin-right: auto;">
                <thead>
                <tr>
                    <td class="head">ID</td>
                    <td class="head">Nombre Completo</td>
                    <td class="head">DNI</td>
                    <td class="head">Correo Electrónico</td>
                    <td class="head">Teléfono</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${listaUsuarios}">
                    <td th:text="${usuario.idUsuario}"></td>
                    <td th:text="${usuario.nombre + ' ' + usuario.apellidos}"></td>
                    <td th:text="${usuario.dni}"></td>
                    <td th:text="${usuario.email}"></td>
                    <td th:text="${usuario.telefono}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </main>
</div>

</body>
</html>