<!-- clases.html -->
<!DOCTYPE html >
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Clases</title>

    <link href="/Principal.css" rel="stylesheet">

</head>
<body>

<div class="user-layout">

    <!-- SIDEBAR -->
    <aside class="user-sidebar">

        <div>
            <div class="user-avatar-small">
                👤
            </div>

            <h2 class="user-name" >
                Usuario Premium
            </h2>
        </div>

        <nav class="user-menu">
            <a th:href="@{/usuario/home}" >Inicio</a>
            <a th:href="@{/registroClase/listaClasesUsuario}">Mis Clases</a>
            <a href="#" class="active">Mis bonos</a>
            <a th:href="@{/usuario/comprar}" >Comprar bonos</a>
        </nav>

    </aside>
    <div class="classes-page">
        <!-- Header -->
        <div class="classes-header">

            <div>
                <h1>Mis bonos</h1>
                <p>Consulta los bonos adquiridos</p>
                <p th:if="${error}" th:text="${error}" style="color:red"></p>
            </div>

        </div>

        <!-- Tabla -->
        <div class="classes-card " >
            <table class="table classes-table"  style=" margin-left: auto; margin-right: auto;">

                <thead>
                <tr>
                    <td class="head">ID Registro</td>
                    <td class="head">Tipo bono</td>
                    <td class="head">Fecha compra </td>
                    <td class="head">Numero de Usos</td>
                    <td class="head">Maximo de Usos</td>
                </tr>
                </thead>

                <tbody>
                <tr th:each="registro : ${listaRegistros}">
                    <td th:text="${registro.idRegistroBono()}"></td>
                    <td th:text="${registro.tituloBono()}"></td>
                    <td th:text="${registro.fechaCompra()}"></td>
                    <td th:text="${registro.usos()}"></td>
                    <td th:text="${registro.maxUsos()}"></td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>



</div>

</body>
</html>