<!-- clases.html -->
<!DOCTYPE html >
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Lista de Clases</title>

    <link href="/Principal.css" rel="stylesheet">

</head>
<body>

<div class="user-layout">

    <!-- SIDEBAR -->
    <aside class="user-sidebar">

        <div>
            <div class="user-avatar-small">
                👤
            </div>

            <h2 class="user-name" >
                Juan Pérez
            </h2>

            <p class="user-role">
                Usuario Premium
            </p>
        </div>

        <nav class="user-menu">
            <a th:href="@{/usuario/home}" >Inicio</a>
            <a href="#" class="active">Mis clases</a>
            <a href="#">Rutinas</a>
            <a href="#">Entrenadores</a>
            <a href="#">Ajustes</a>
        </nav>

    </aside>
    <div class="classes-page">
        <!-- Header -->
        <div class="classes-header">

            <div>
                <h1>Mis Clases</h1>
                <p>Consulta el estado de tus clases reservadas</p>
            </div>

            <button class="btn btn-orange">
                Nueva Reserva
            </button>

        </div>

        <!-- Tabla -->
        <div class="classes-card " >
            <p th:if="${error}" th:text="${error}" style="color:red"></p>

            <table class="table classes-table align-middle"  style=" margin-left: auto; margin-right: auto;">

                <thead>
                <tr>
                    <th>ID Clase</th>
                    <th>Título Clase</th>
                    <th>Estado</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>#001</td>

                    <td>
                        <div class="class-title">
                            💪 Full Body Training
                        </div>
                    </td>

                    <td>
              <span class="status active-status">
                Activa
              </span>
                    </td>
                </tr>

                <tr>
                    <td>#002</td>

                    <td>
                        <div class="class-title">
                            🧘 Yoga Relax
                        </div>
                    </td>

                    <td>
              <span class="status pending-status">
                Pendiente
              </span>
                    </td>
                </tr>

                <tr>
                    <td>#003</td>

                    <td>
                        <div class="class-title">
                            🔥 HIIT Cardio
                        </div>
                    </td>

                    <td>
              <span class="status completed-status">
                Finalizada
              </span>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>

    </div>



</div>

</body>
</html>