<!-- usuario.html -->
<!DOCTYPE html>
<html lang="es", xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil Usuario</title>

    <link href="/Principal.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="user-layout">

    <!-- SIDEBAR -->
    <aside class="user-sidebar">

        <div>
            <div class="user-avatar-small">
                👤
            </div>

            <h2 class="user-name" th:text="${usuario.nombre + ' ' + usuario.apellidos}">
                Juan Pérez
            </h2>

            <p class="user-role">
                Usuario Premium
            </p>
        </div>

        <nav class="user-menu">
            <a href="#" class="active">Inicio</a>
            <a th:href="@{/registroClase/listaClasesUsuario}">Mis Clases</a>
            <a th:href="@{/registroUsuarioBono/listaRegistroBonoPorUsuario}">Mis bonos</a>
            <a href="#">Entrenadores</a>
            <a href="#">Ajustes</a>
        </nav>

    </aside>

    <!-- CONTENIDO -->
    <main class="user-content">

        <!-- HEADER -->
        <div class="user-header">

            <div>
                <h1>Mi progreso</h1>
                <p>Controla tu evolución en el gimnasio</p>
            </div>

            <div>
                <button class="btn btn-orange" style="text-decoration: none; color: white;">
                    Editar Perfil
                </button>

                <button class="btn btn-orange">
                    <a th:href="@{/usuario/logout}" style="text-decoration: none; color: white;" onclick="return confirm('¿Seguro que quieres cerrar sesion ?');">Cerrar Sesion </a>
                </button>
            </div>


        </div>

        <!-- CARDS -->
        <div class="row g-4">

            <!-- PERFIL -->
            <div class="col-lg-4">

                <div class="user-card profile-card">

                    <img
                            src="https://images.unsplash.com/photo-1567013127542-490d757e51fc?q=80&w=1200&auto=format&fit=crop"
                            class="user-avatar"
                            alt="usuario"
                    >

                    <h3 th:text="${usuario.idUsuario + '.' + usuario.nombre}"></h3>

                    <span class="user-badge">
                    Nivel Intermedio
                    </span>

                    <div class="user-info">

                        <div class="col-md-4">
                            <h2>Apellidos</h2>
                            <p th:text="${usuario.apellidos}">25 años</p>
                        </div>
                        <div class="col-md-4">
                            <h2>DNI</h2>
                            <p th:text="${usuario.dni}">25 años</p>
                        </div>

                        <div class="col-md-4">
                            <h2>Email</h2>
                            <p th:text="${usuario.email}">ejemplo@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Dirección</h2>
                            <p th:text="${usuario.direccion}">ejemplo@gmail.com</p>
                        </div>
                        <div class="col-md-4">
                            <h2>Teléfono</h2>
                            <p th:text="${usuario.telefono}">1234567890</p>
                        </div>


                    </div>

                </div>

            </div>

        </div>

    </main>

</div>

</body>
</html>