<!DOCTYPE html>
<html lang="es" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Gym</title>

    <!-- Bootstrap -->
    <link href="/Principal.css" rel="stylesheet">

    <!-- CSS propio -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<div class="main-wrapper">

    <!-- Imagen -->
    <div class="image-section">
        <div class="image-card">

            <img
                    src="https://images.unsplash.com/photo-1517838277536-f5f99be501cd?q=80&w=1400&auto=format&fit=crop"
                    alt="Gym"
            >

            <div class="image-overlay"></div>

            <div class="image-content">
                <span>FITNESS CLUB</span>

                <h1>
                    Entrena tu mejor versión
                </h1>

                <p>
                    Accede a tu cuenta y continúa tu progreso.
                </p>
            </div>

        </div>
    </div>

    <!-- Login -->
    <div class="login-section">

        <div class="login-card">

            <div class="logo-circle">
                🏋️
            </div>

            <h2>Bienvenido</h2>

            <p class="subtitle">
                Inicia sesión en tu gimnasio
            </p>

            <!-- Selector -->
            <div class="role-buttons">

                <a  class="btn role-btn-disabled">
                    Usuario
                </a>

                <a th:href="@{/entrenador}" class="btn role-btn">
                    Entrenador
                </a>
            </div>

            <form th:action="@{/usuario/loguin}" th:object="${loguin}" method="post">

                <div class="input-group-custom">

                    <label>Correo electrónico</label>

                    <input
                        type="email"
                        th:field="*{email}"
                        class="form-control custom-input"
                        placeholder="ejemplo@email.com"
                        required
                    >
                </div>

                <div class="input-group-custom">

                    <label>
                        Contraseña
                    </label>

                    <input
                            type="password"
                            th:field="*{password}"
                            class="form-control custom-input"
                            placeholder="********"
                            required
                    >

                </div>

                <p th:if="${error}" th:text="${error}" style="color:red"></p>

                <button class="btn btn-orange w-100">
                    Entrar
                </button>


            </form>

        </div>

    </div>

</div>

</body>
</html>
